@media (max-width: 37.5em) {
  .modal {
    gap: 7vw !important;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 100vw;
    display: flex;
    position: fixed;
    overflow: hidden;
    transition: all 0.5s;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 99999999999999999999999999999999999999;
    animation: openModall 0.5s ease-out forwards;
    box-shadow: 0px 3px 20px rgba(101, 101, 101, 0.15);
    font-family: "Source Sans Pro", sans-serif;
  }

  .modal2 {
    justify-content: space-evenly;
    gap: 0vw !important;
  }

  @keyframes openModall {
    0% {
      opacity: 0;
      transform: translate(-50%, -100%);
    }

    50% {
      opacity: 1;
      transform: translate(-50%, -20%);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  .btn {
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    font-family: "Source Sans Pro", sans-serif;
    background-color: #e43a3a;
    display: inline-block;
    border-radius: 10px;
    padding: 3.4vw 29vw;
    font-weight: 600;
    margin-top: 4vw;
    cursor: pointer;
    font-size: 3.2vw;
    color: #fff;
    border: none;
  }

  .btn2 {
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    font-family: "Source Sans Pro", sans-serif;
    background-color: #e43a3a;
    display: inline-block;
    border-radius: 30px;
    padding: 3.8vw 27vw;
    font-weight: 600;
    margin-top: 0vw;
    cursor: pointer;
    font-size: 3.7vw;
    color: #fff;
    border: none;
    transform: translateY(3vw);
  }

  .btn3 {
    font-family: "Source Sans Pro", sans-serif;
    padding: 3.4vw 23vw;
    border-radius: 30px;
    transform: translateY(0vw);
    font-size: 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn4 {
    font-family: "Source Sans Pro", sans-serif;
    padding: 3.8vw 17vw;
    font-weight: 700;
  }

  .btnCloseModal {
    font-family: inherit;
    position: absolute;
    background: none;
    color: #969ea1;
    font-weight: 300;
    cursor: pointer;
    font-size: 8vw;
    border: none;
    top: 0.5%;
    right: 4%;
  }

  .MessageArea {
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .theMessage {
    text-align: center;
    font-family: inherit;
    color: #27272a;
    font-weight: 600;
    line-height: 6vw;
    font-size: 3.8vw;
  }

  .theMessage2 {
    text-align: center;
    color: #27272a;
    font-weight: 600;
    line-height: 6vw;
    font-size: 4.2vw;
  }

  .waiterBell {
    width: 35vw;
  }

  .clockImg {
    width: 35vw;
  }
}
