@media (max-width: 37.5em) {
  .swiperEl {
    width: 100%;
    padding: 24.5vw 6vw 0vw 11vw;
    z-index: 1;
  }

  .swiperSlide {
    color: #f4f4f5;
    font-weight: 600;
    width: 100%;
    height: 60vw;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-color: #f4f4f5;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-right: 4vw;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  }

  .services {
    color: #f4f4f5;
  }

  .packageArea {
    width: 100%;
    padding-bottom: 5vw;
    padding-top: 60%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.027) 61.02%,
      rgba(1, 20, 26, 0.551) 80%
    );
  }

  .packageName {
    font-family: "Montserrat Alternates", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 4.4vw;
    margin-left: 6vw;
  }
}
