@media (max-width: 37.5em) {
  .bellElement {
    background: linear-gradient(180deg, #f97d48 0%, #f8506d 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3vw;
    width: 12.5vw;
    border-radius: 100%;
    position: fixed;
    z-index: 10;
    right: 13%;
    bottom: 16.5%;
    transform: translate(50%, 50%);
  }

  .bellBehind {
    display: inline-block;
    background: rgba(249, 121, 75, 0.4);
    padding: 7.8vw;
    z-index: -1;
    border-radius: 100%;
    position: fixed;
    z-index: 1;
    right: 13%;
    bottom: 16.5%;
    transform: translate(50%, 50%);
  }
}

