@media (max-width: 37.5em) {
  .modal {
    top: 0;
    left: 20%;
    width: 80%;
    height: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
    transition: all 1s;
    background-size: cover;
    align-items: flex-start;
    background-position-y: bottom;
    justify-content: flex-end;
    background-image: url("../Images/NavImgX3.jpg");
    z-index: 99999999999999999999999999999999999999;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
    animation: openModall 1s ease-out forwards;
    font-family: "Open Sans", sans-serif;
  }

  @keyframes openModall {
    0% {
      left: 100%;
    }

    50% {
      left: 20%;
    }

    100% {
      left: 20%;
    }
  }

  .btnCloseModal {
    top: 4%;
    right: 10%;
    width: 8vw;
    height: 8vw;
    display: flex;
    cursor: pointer;
    font-size: 7vw;
    font-weight: 300;
    color: #DEDEDE;
    background: none;
    position: absolute;
    align-items: center;
    font-family: inherit;
    justify-content: center;
    border: 1px solid #A8A8A8;
    border-radius: 5px;
  }

  /** Side nav style **/
  .sideNav {
    gap: 6.5vw;
    display: flex;
    margin-top: 35vw;
    margin-right: 18vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: "Open Sans", sans-serif !important;
  }

  .navLink {
    color: #fff;
    font-weight: 400;
    font-size: 4.3vw;
    font-family: inherit;
  }

  /** Side nav style **/
  /** Lang nav style **/
  .langNav { /* 600px*/
    gap: 5.6vw;
    display: flex;
    margin-top: 31vw;
    margin-right: 17vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .langBtn {
    font-family: inherit;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 3.6vw;
    line-height: 2.5vw;
  }

  /** Main Navigation **/
  .mainHeading {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
    background-color: #1A1A1A;
    padding: 5vw 5vw 5vw 5vw;
    border: 1px solid #3C3C3C;
  }

  .navArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logoArea {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 2.3vw;
  }

  .textLogo {
    font-family: "Merriweather'", sans-serif;
    text-transform: capitalize;
    color: #FFFFFF;
    max-width: 45%;
    font-weight: 700;
    font-size: 4.6vw;
  }

  .logoImg {
    background-position: center;
    background-size: cover;
    width: 8.5vw;
    height: 8.5vw;
  }

  .sideNavIcon {
    width: 6.5vw;
  }

  .layoutArea {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  .actionArea {
    display: flex;
    align-items: center;
    gap: 3.6vw;
  }

  .btnLanguages {
    text-align: center;
    font-size: 3.6vw;
    font-weight: 700;
    padding: 1.4vw 1.4vw;
    font-family: "Merriweather", sans-serif;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
  }
}

@media (max-width: 30em) {
  /*480px*/
  .navLink {
    font-size: 4.5vw;
  }

  .sideNav {
    margin-top: 39vw;
  }

  .langNav {
    margin-top: 32vw;
  }

  .langBtn {
    font-size: 4.2vw;
    line-height: 3vw;
  }
}

@media (max-width: 27em) {
  .langNav {
    margin-top: 34vw;
  }
}

@media (max-width: 24em) {
  /*384px*/
  .navLink {
    font-size: 4.8vw;
  }

  .sideNav {
    margin-right: 22vw;
    margin-top: 40vw;
  }

  .langNav {
    margin-top: 35vw;
  }

  .langBtn {
    font-size: 4.6vw;
    line-height: 4vw;
  }
}

@media (max-width: 20em) {
  .langNav {
    margin-top: 29vw;
  }

  .sideNav {
    margin-top: 36vw;
  }
}

